flows.json
[{"id":"a015914f.b93db","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3604c925.a25436","type":"ibmiot in","z":"a015914f.b93db","authentication":"apiKey","apiKey":"7c62cc6b.e96864","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"mcu123","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"Data","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":140,"y":200,"wires":[["623c6613.e98408","a87518ab.c4c628"]]},{"id":"de95f8fd.eeb348","type":"debug","z":"a015914f.b93db","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":220,"wires":[]},{"id":"623c6613.e98408","type":"function","z":"a015914f.b93db","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["de95f8fd.eeb348","6e68205d.0cbe9"]]},{"id":"a87518ab.c4c628","type":"function","z":"a015914f.b93db","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":280,"wires":[["de95f8fd.eeb348","36c223b6.ca7fbc"]]},{"id":"36c223b6.ca7fbc","type":"ui_gauge","z":"a015914f.b93db","name":"","group":"e40eeaf.b28c818","order":1,"width":16,"height":9,"gtype":"gage","title":"humid","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":280,"wires":[]},{"id":"6e68205d.0cbe9","type":"ui_gauge","z":"a015914f.b93db","name":"","group":"e40eeaf.b28c818","order":2,"width":0,"height":0,"gtype":"gage","title":"temp","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":140,"wires":[]},{"id":"46bcea6d.f5fa14","type":"ibmiot out","z":"a015914f.b93db","authentication":"apiKey","apiKey":"7c62cc6b.e96864","outputType":"cmd","deviceId":"mcu123","deviceType":"nodemcu","eventCommandType":"blink","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":500,"y":380,"wires":[]},{"id":"d246be2b.fad8b","type":"ui_button","z":"a015914f.b93db","name":"","group":"e40eeaf.b28c818","order":4,"width":0,"height":0,"passthru":false,"label":"motoron","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":320,"y":360,"wires":[["46bcea6d.f5fa14"]]},{"id":"64a9e9dd.dac3b8","type":"ui_button","z":"a015914f.b93db","name":"","group":"e40eeaf.b28c818","order":3,"width":0,"height":0,"passthru":false,"label":"motoroff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":320,"y":440,"wires":[["46bcea6d.f5fa14"]]},{"id":"ba9892c8.d39b2","type":"http request","z":"a015914f.b93db","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Mumbai,%20IN&appid=98d035c91f12fa8cd011d933a0722699","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":540,"wires":[["4bf1ce3e.102c1","fae7f885.9e31b8","17c3acad.028c03"]]},{"id":"4eaa93c3.c0f5fc","type":"inject","z":"a015914f.b93db","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":540,"wires":[["ba9892c8.d39b2"]]},{"id":"fae7f885.9e31b8","type":"change","z":"a015914f.b93db","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":620,"wires":[["6d5441e2.22cfe"]]},{"id":"6d5441e2.22cfe","type":"ui_text","z":"a015914f.b93db","group":"e40eeaf.b28c818","order":6,"width":4,"height":2,"name":"","label":"temperature","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":680,"wires":[]},{"id":"4bf1ce3e.102c1","type":"debug","z":"a015914f.b93db","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":560,"wires":[]},{"id":"17c3acad.028c03","type":"change","z":"a015914f.b93db","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":680,"wires":[["798c0c40.0f2bd4"]]},{"id":"798c0c40.0f2bd4","type":"ui_text","z":"a015914f.b93db","group":"e40eeaf.b28c818","order":11,"width":4,"height":2,"name":"","label":"humidity","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":740,"wires":[]},{"id":"7c62cc6b.e96864","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"e40eeaf.b28c818","type":"ui_group","z":"","name":"smart agro","tab":"91df5824.2aab98","order":1,"disp":true,"width":16,"collapse":false},{"id":"91df5824.2aab98","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]